body{
   margin:0;
   padding:0;
   box-sizing: border-box;
   background:rgb(3,0,0);
   transition: background-color 0.5s ease;

}

.content{
   display: flex;
   align-items: center;
   height:80vh;
}





span.name::after {
   content: "";
   /* position: absolute; */
   width:50px;
   /* display: block; */
   border-bottom: 10px solid orange;
 }

 span.name{position: relative;}

 .fadeInText h2{
position: absolute;
top:10px;
bottom: 0;
 }


 

 /* chevron down1 */

 #wrapper{
   margin: auto;
   width:0;
   color:#fff;
   /* position:relative */
   
}
/* download small italisize */

small{font-style: italic;}
.spacer{margin-bottom: 300px;}

#wrapper i{
   font-size: 30px;
   text-align: center;
  }
  
  #wrapper i:hover{
    color: orange;
    transition:transform .6s ease-in-out;
   animation: about_chevron 2.5s forwards infinite ease;
 }


 /* about section */

 #aboutSection{
   margin: auto;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
 }


 #aboutSection h2{
 
   border-bottom: 5px solid orange;
   margin-bottom: 20px;
 }



 .spacer p{
   color:#fff
 }

 #aboutSection img{height: 300px; object-fit: contain;}
 
 #aboutSection #wrapper i{
position: relative;
bottom: 130px;
 }
 #aboutSection .spacer{
   display: flex;
  justify-content: space-around;
 }

 /* skills */

 #SkillsSection{

 display: flex;
 flex-direction: column;
 align-items: center;
 }


 #SkillsSection h2{
  margin-left: 15px;
border-bottom: 5px solid orange;

 }

 /* col margin */
 .col{
 
  margin-bottom: 35px;
 }


 /* skills img color's */

 i.fa-html5{
  color:orangered
 }
 i.fa-css3{
  color:rgb(29, 4, 252)
 }
 i.fa-js{
  color:rgb(255, 248, 51)
 }
 i.fa-react{
  color:rgb(1, 241, 249)
 }
 i.fa-bootstrap{
  color:#7e4288
 }
 i.fa-code{
  color:rgb(5, 130, 254)
 }