
#tooltip {
  position: fixed;
  display: block;
  opacity:0;
  visibility: hidden;
  background:#343a40;
 color:#fff;
 border-radius: .5rem;
 font-size:.7rem;
  font-weight: bold;
  padding:5px;
  


}

#wrapper:hover #tooltip{
  visibility: visible;
  opacity: 1
}





