#tooltip {
  position: absolute;
  opacity:0;
  visibility: hidden;
  background:#343a40;
  color:#fff;
  margin:1rem;
  border-radius: .5rem;
  font-size:.7rem;
  font-weight: bold;
  padding:8px;


}
#aboutSection #tooltip{
  position: relative;
  bottom: 200px;
}




#wrapper:hover #tooltip{
  visibility: visible;
  opacity: 1;
  /* display: block; */
  text-align: center;
}







